$screen-xxs: 350px !default;
$screen-sm: 768px !default;
$screen-md: 992px !default;
$screen-lg: 1224px !default;
$screen-xl: 1919px !default;
$screen-xxl: 2000px !default;
$color-white: #FFF !default;
$color-grey-01: #181E28 !default;
$color-grey-03: #859CA8 !default;
$color-grey-04: #C2D1D9 !default;
$color-primary-blue: #009FC7 !default;
$color-blue-02: #015368 !default;
$color-blue-02-hover: #014252 !default; 
$color-blue-02-active: #003644 !default; 
$color-blue-07: #F0FBFF !default;
$acent-green: #3DD092 !default;
$acent-green-hover: #27C07F !default; 
$acent-green-active: #22AF73 !default; 
$color-grey-05: #e2eaf0 !default;
$color-grey-07: #f4f7f9 !default;
$color-red-01: #a70000 !default;
$color-blue-01-rastreator: #009fc7 !default;
$color-green-01: #3dd092 !default;